<div class="input">
  <div class="input-label">
    <label for="exampleSelect" class="form-label">Select label</label>
  </div>
  <div class="response select-input">
    <select class="form-select" id="exampleSelect">
      <option selected disabled value="">Choose an option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
  </div>
  <div class="invalid-feedback">Validation message</div>
</div>

<div class="input">
  <div class="input-label"><label for="exampleSelectReadonly" class="form-label">Read-only</label></div>
  <div class="response select-input">
    <select class="form-select readonly" id="exampleSelectReadonly" disabled>
      <option selected>Option 1</option>
    </select>
  </div>
</div>