<a href="#">Inline link</a>

<a class="link-standalone" href="#">
    Standalone link
</a>

<a class="link-standalone" href="#"> 
    <span class="icon">
        <i class="fa-regular fa-arrow-right"></i>
    </span>
    Standalone link
</a>

<ul class="link-set link-set-stacked">
    <li class="linkset-item">...</li>
    <li class="linkset-item">...</li>
    <li class="linkset-item">...</li>
</ul>

<ul class="link-set">
    <li class="linkset-item">...</li>
    <li class="linkset-item">...</li>
    <li class="linkset-item">...</li>
</ul>
