<!-- Extracted verbatim from Buckholt Input row: Code & specs. Do not alter canonical DOM structure. -->

<!-- Input row base code -->
<div class="row input-row">
    <div class="col">
        <div class="input">
            ...
        </div>
    </div>
    <div class="col">
        <div class="input">
            ...
        </div>
    </div>
</div>

<!-- Input size -->
<div class="row input-row">
    <div class="col">
        <div class="input">
            ...
        </div>
    </div>
    <div class="col-4">
        <div class="input">
            ...
        </div>
    </div>
</div>
