<!-- Extracted verbatim from Buckholt Card: Code & specs. Do not alter canonical DOM structure. -->

<!-- Card title text -->
<div class="card">
    <div class="card-body">
        <div class="text-block">
            <h4 class="title-03">
                Card title text
            </h4>
            <p>Duis non quam et nisi tincidunt fermentum. Pellentesque habitant morbi tristique senectus.</p>
        </div>
    </div>
</div>

<!-- Card title text -->
<div class="card card-lg">
    <div class="card-body">
        <div class="text-block">
            <h4 class="title-03">
                Card title text
            </h4>
            <p>Duis non quam et nisi tincidunt fermentum. Pellentesque habitant morbi tristique senectus.</p>
        </div>
    </div>
</div>

<!-- Card title text -->
<div class="card card-secondary">
    ...
</div>

<!-- Card title text -->
<div class="card">
    <img src="..." class="card-img" alt="...">
    <div class="card-body">
        <div class="text-block">
            <h4 class="title-03">
                Card title text
            </h4>
            <p>Duis non quam et nisi tincidunt fermentum. Pellentesque habitant morbi tristique senectus.</p>
        </div>
    </div>
</div>

<!-- Card title text -->
<div class="card card-horizontal">
    <img src="..." class="card-img" alt="...">
    <div class="card-body">
        <div class="text-block">
            <h4 class="title-03">
                Card title text
            </h4>
            <p>Duis non quam et nisi tincidunt fermentum. Pellentesque habitant morbi tristique senectus.</p>
        </div>
    </div>
</div>

<div class="card card-horizontal card-horizontal-right">
    <img src="..." class="card-img" alt="...">
    <div class="card-body">
        <div class="text-block">
            <h4 class="title-03">
                Card title text
            </h4>
            <p>Duis non quam et nisi tincidunt fermentum. Pellentesque habitant morbi tristique senectus.</p>
        </div>
    </div>
</div>

<!-- Card title text -->
<div class="card">
    <div class="card-body">
        
        <div class="text-block">
            <h4 class="title-03">
                Card title text
            </h4>
            <p>Duis non quam et nisi tincidunt fermentum. Pellentesque habitant morbi tristique senectus.</p>
        </div>

        <a class="link-standalone" href="#" target="_self"> 
            <span class="icon">
                <i class="fa-regular fa-arrow-right" aria-hidden="true"></i>
            </span>
            Link text
        </a>

    </div>
</div>

<!-- Card title text -->
<a href="#" class="card card-clickable">
    <div class="card-body">
        <div class="text-block">  
            <h4 class="title-03">
                Card title text
            </h4>     
            <p>Duis non quam et nisi tincidunt fermentum. Pellentesque habitant morbi tristique senectus.</p>
        </div>
    </div>
</a>

<!-- Multi select card title -->
<div class="card card-selectable">
    <input class="form-check-input" type="radio" name="selectable" id="radio-selectablecard">
    <div class="card-body">
        <div class="text-block">
            <h4 class="title-03">
                Single select card title
            </h4>
            <p>Duis non quam et nisi tincidunt fermentum. Pellentesque habitant morbi tristique senectus.</p>
        </div>
    </div>
</div>


<div class="card card-selectable">
    <input class="form-check-input" type="checkbox" value="" id="checkbox-selectablecard2">
    <div class="card-body">
        <div class="text-block">
            <h4 class="title-03">
                Multi select card title
            </h4>
            <p>Duis non quam et nisi tincidunt fermentum. Pellentesque habitant morbi tristique senectus.</p>
        </div>
    </div>
</div>

<!-- Emphasis tile -->
<div class="card">
    <div class="card-body">
        ...
    </div>

    <div class="card-body">
        <div class="emphasis-tile">
            ...
        </div>
    </div>
</div>

<!-- Emphasis tile -->
<div class="card">
    <div class="card-body">
        ...
    </div>

    <div class="card-body">
        <div class="emphasis-tile emphasis-tile-inline">
            ...
        </div>
    </div>
</div>

<!-- Emphasis tile secondary -->
<div class="card card-secondary">
    <div class="card-body">
        ...
    </div>

    <div class="card-body">
        <div class="emphasis-tile emphasis-tile-secondary">
            ...
        </div>
    </div>
</div>
