<!-- Default initials Avatar -->
<div class="avatar">
  <div class="avatar-initials">MF</div>
</div>

<!-- Image Avatar -->
<div class="avatar">
  <img class="avatar-img" src="profile.jpg" alt="">
</div>

<!-- Icon Avatar -->
<div class="avatar">
  <div class="avatar-icon">
    <i class="fa-regular fa-user" aria-hidden="true"></i>
  </div>
</div>

<!-- Small Avatar -->
<div class="avatar avatar-sm">
  <div class="avatar-initials">MF</div>
</div>

<!-- Extra-small Avatar -->
<div class="avatar avatar-xs">
  <div class="avatar-initials">MF</div>
</div>

<!-- Expressive variants -->
<div class="avatar expressive-secondary">
  <div class="avatar-initials">HS</div>
</div>

<div class="avatar expressive-tertiary expressive-dark">
  <div class="avatar-initials">CP</div>
</div>

<div class="avatar expressive-quaternary">
  <div class="avatar-initials">RD</div>
</div>

<!-- Avatar set -->
<div class="avatar-set">
  <div class="avatar">
    <img class="avatar-img" src="profile-1.jpg" alt="">
  </div>
  <div class="avatar">
    <img class="avatar-img" src="profile-2.jpg" alt="">
  </div>
  <div class="avatar expressive-quaternary">
    <div class="avatar-initials">RD</div>
  </div>
</div>
