<div class="input">
  <div class="input-label">
    <label for="exampleTextarea" class="form-label">Additional information</label>
    <small class="form-helper">Add any relevant detail</small>
  </div>

  <div class="response textarea-input">
    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Enter information" maxlength="250"></textarea>
    <div class="counter"><span class="counting">0</span> / 250</div>
  </div>

  <small class="form-helper">Maximum 250 characters</small>
  <div class="invalid-feedback feedback-icon">Validation message</div>
</div>