<!-- Default -->
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="switch-default">
  <div class="input-label">
    <label class="form-check-label" for="switch-default">Airplane mode</label>
  </div>
</div>

<!-- Small -->
<div class="form-check form-switch form-switch-sm">
  <input class="form-check-input" type="checkbox" role="switch" id="switch-small" checked>
  <div class="input-label">
    <label class="form-check-label" for="switch-small">Compact setting</label>
  </div>
</div>

<!-- Small with status -->
<div class="form-check form-switch form-switch-sm form-switch-status">
  <input class="form-check-input" type="checkbox" role="switch" id="switch-small-status" checked>
  <div class="input-label">
    <label class="form-check-label" for="switch-small-status">Compact setting</label>
  </div>
</div>

<!-- Always active -->
<div class="form-check form-switch form-switch-active">
  <input class="form-check-input" type="radio" role="switch" id="switch-always-active" checked>
  <div class="input-label">
    <label class="form-check-label" for="switch-always-active">Required feature</label>
  </div>
</div>