<!-- Extracted verbatim from Buckholt List: Code & specs. Do not alter canonical DOM structure. -->

<!-- List base code -->
<ul class="list">
    <li class="list-item">List item</li>
    <li class="list-item">List item</li>
    <li class="list-item">List item</li>
</ul>

<ol class="list">
    ...
</ol>

<!-- Level 2 items -->
<ul class="list">
    <li class="list-item">
        List item
        <ul>
            <li class="list-item">Level 2 item</li>
            <li class="list-item">Level 2 item</li>
        </ul>
    </li>
    <li class="list-item">List item</li>
    <li class="list-item">List item</li>
</ul>

<ol class="list">
    <li class="list-item">
        List item
        <ol>
            <li class="list-item">Level 2 item</li>
            <li class="list-item">Level 2 item</li>
        </ol>
    </li>
    <li class="list-item">List item</li>
    <li class="list-item">List item</li>
</ol>

<!-- List heading -->
<li class="list-heading" value="0">List heading</li>

<!-- Unstyled list -->
<ul class="list list-unstyled">
    ...
</ul>

<!-- Icons -->
<ul class="list">
    <li class="list-heading">List heading</li>
    <li class="list-item">
        <span class="list-icon text-success">
            <i class="fa-solid fa-circle-check"></i>
        </span>
        List item
    </li>
    <li class="list-item">
        <span class="list-icon text-success">
            <i class="fa-solid fa-circle-check"></i>
        </span>
        List item
    </li>
    <li class="list-item">
        <span class="list-icon text-error">
            <i class="fa-solid fa-circle-exclamation"></i>
        </span>
        List item
    </li>
</ul>
