<!-- Extracted verbatim from Buckholt Icon block: Code & specs. Do not alter canonical DOM structure. -->

<!-- Icon block base code -->
<div class="icon-block">
    <i class="fa-regular fa-ghost"></i>
</div>

<!-- Extra small -->
<div class="icon-block icon-block-xs">
    <i class="fa-regular fa-sparkles"></i>
</div>

<!-- Small -->
<div class="icon-block icon-block-sm">
    <i class="fa-regular fa-car"></i>
</div>

<!-- Large -->
<div class="icon-block icon-block-lg">
    <i class="fa-regular fa-phone"></i>
</div>

<!-- Extra large -->
<div class="icon-block icon-block-xl">
    <i class="fa-regular fa-flag"></i>
</div>

<!-- Extra extra large -->
<div class="icon-block icon-block-xxl">
    <i class="fa-regular fa-pizza-slice"></i>
</div>

<!-- Expressive colours -->
<div class="icon-block expressive-light">
    <i class="fa-regular fa-rocket-launch"></i>
</div>

<div class="icon-block expressive-dark">
    <i class="fa-regular fa-ufo"></i>
</div>

<!-- Expressive colour palette -->
<div class="icon-block expressive-light expressive-secondary">
    <i class="fa-regular fa-cloud"></i>
</div>

<div class="icon-block expressive-dark expressive-secondary">
    <i class="fa-regular fa-bolt"></i>
</div>

<div class="icon-block expressive-light expressive-tertiary">
    <i class="fa-regular fa-mug-hot"></i>
</div>

<div class="icon-block expressive-dark expressive-tertiary">
    <i class="fa-regular fa-pizza-slice"></i>
</div>

<div class="icon-block expressive-light expressive-quaternary">
    <i class="fa-regular fa-file"></i>
</div>

<div class="icon-block expressive-dark expressive-quaternary">
    <i class="fa-regular fa-folders"></i>
</div>
