<!-- Start addon -->
<div class="input">
  <div class="input-label">
    <label for="username" class="form-label">Create new user</label>
  </div>
  <div class="input-group">
    <span class="input-group-text">@</span>
    <div class="response text-input">
      <input type="text" class="form-control" id="username" placeholder="Username">
    </div>
  </div>
  <div class="invalid-feedback">Validation message</div>
</div>

<!-- End addon -->
<div class="input">
  <div class="input-label">
    <label for="distance" class="form-label">Distance</label>
  </div>
  <div class="input-group">
    <div class="response text-input">
      <input type="text" class="form-control" id="distance" placeholder="0">
    </div>
    <span class="input-group-text">miles</span>
  </div>
  <div class="invalid-feedback">Validation message</div>
</div>

<!-- Grouped response action -->
<div class="input">
  <div class="input-label">
    <label for="lookup" class="form-label">Lookup</label>
  </div>
  <div class="input-group">
    <div class="response text-input">
      <input type="text" class="form-control" id="lookup">
    </div>
    <button type="button" class="btn btn-response">
      <span class="button-label">Action</span>
    </button>
  </div>
  <div class="invalid-feedback">Validation message</div>
</div>

<!-- Error -->
<div class="input">
  <div class="input-label">
    <label for="amount" class="form-label">Amount</label>
  </div>
  <div class="input-group">
    <span class="input-group-text">£</span>
    <div class="response text-input">
      <input type="text" class="form-control is-invalid" id="amount">
    </div>
  </div>
  <div class="invalid-feedback">Enter a valid amount.</div>
</div>
