<!-- Buckholt Key-value pair canonical examples -->

<!-- Single pair -->
<div class="key-value">
  <span class="key">Policy number</span>
  <span class="value">FPM60129587462HI</span>
</div>

<!-- Stacked -->
<div class="key-value key-value-stacked">
  <span class="key">Policy number</span>
  <span class="value">FPM60129587462HI</span>
</div>

<!-- Vertical list -->
<div class="key-value-list">
  <div class="key-value">
    <span class="key">Name</span>
    <span class="value">Rick Deckard</span>
  </div>
  <div class="key-value">
    <span class="key">Date of birth</span>
    <span class="value">23rd January 1986</span>
  </div>
</div>

<!-- Row list -->
<div class="key-value-list key-value-list-row">
  <div class="key-value">
    <span class="key">Key</span>
    <span class="value">Value</span>
  </div>
  <div class="key-value">
    <span class="key">Key</span>
    <span class="value">Value</span>
  </div>
  <div class="key-value">
    <span class="key">Key</span>
    <span class="value">Value</span>
  </div>
</div>

<!-- Grid -->
<div class="grid key-value-grid" style="--columns: 3;">
  <div class="key-value-item">
    <div class="key-value key-value-stacked">
      <span class="key">Name</span>
      <span class="value">Rick Deckard</span>
    </div>
  </div>
  <div class="key-value-item">
    <div class="key-value key-value-stacked">
      <span class="key">Date of birth</span>
      <span class="value">23rd January 1986</span>
    </div>
  </div>
  <div class="key-value-item">
    <div class="key-value key-value-stacked">
      <span class="key">Status</span>
      <span class="value">Active</span>
    </div>
  </div>
</div>

<!-- Key-value table -->
<div class="key-value-table">
  <div class="key-value">
    <span class="key">Name</span>
    <span class="value">Rick Deckard</span>
  </div>
  <div class="key-value">
    <span class="key">Date of birth</span>
    <span class="value">23rd January 1986</span>
  </div>
  <hr>
  <div class="key-value">
    <span class="key">Address</span>
    <span class="value">15 Medley Road, Rayne, Essex CM77 6TQ</span>
  </div>
</div>

<!-- Size modifiers -->
<div class="key-value key-value-stacked key-value-xs">
  <span class="key">Key</span>
  <span class="value">Extra small</span>
</div>

<div class="key-value key-value-stacked key-value-sm">
  <span class="key">Key</span>
  <span class="value">Small</span>
</div>

<div class="key-value key-value-stacked">
  <span class="key">Key</span>
  <span class="value">Default</span>
</div>

<div class="key-value key-value-stacked key-value-lg">
  <span class="key">Key</span>
  <span class="value">Large</span>
</div>

<div class="key-value key-value-stacked key-value-xl">
  <span class="key">Key</span>
  <span class="value">Extra large</span>
</div>

<div class="key-value key-value-stacked key-value-display">
  <span class="key">Key</span>
  <span class="value">Display</span>
</div>
