<!-- Buckholt Summary Meta canonical examples -->

<!-- Standard -->
<div class="summary-meta">
  <div class="icon-block icon-block-xxl expressive-dark">
    <i class="fa-regular fa-car" aria-hidden="true"></i>
  </div>
  <div class="summary-meta-body">
    <h3 class="summary-meta-headline">AK67 NLR</h3>
    <div class="summary-meta-label">Hyundai Santa Fe</div>
    <p class="summary-meta-text">2.0 TDI 4Motion R-Line 5dr DSG</p>
  </div>
</div>

<!-- Standard with Key-value content -->
<div class="summary-meta">
  <div class="icon-block icon-block-xxl">
    <i class="fa-regular fa-house" aria-hidden="true"></i>
  </div>
  <div class="summary-meta-body">
    <div class="key-value">
      <span class="key">Policy number</span>
      <span class="value">FPM60129587462HI</span>
    </div>
    <p class="summary-meta-text">Insurance provided by <strong>Best Home Insurance</strong></p>
  </div>
</div>

<!-- Stacked -->
<div class="summary-meta summary-meta-stacked">
  <div class="icon-block icon-block-xxl expressive-dark">
    <i class="fa-regular fa-house" aria-hidden="true"></i>
  </div>
  <div class="summary-meta-body">
    <div class="key-value">
      <span class="key">Policy number</span>
      <span class="value">FPM60129587462HI</span>
    </div>
    <p class="summary-meta-text">Insurance provided by <strong>Best Home Insurance</strong></p>
  </div>
</div>
