<!-- Extracted verbatim from Buckholt Multi-field input: Code & specs HTML supplied 7 September 2026. Do not alter canonical DOM structure. -->

<!-- Code & specs example 1 -->
<div class="input">
    <div class="input-label">
        <label for="Input-inputlabel-1" class="form-label">Input label</label>
    </div>
    <div class="response multi-input text-input">
        <input type="text" class="form-control" id="Input-inputlabel-1" placeholder="Placeholder">
        <input type="text" class="form-control" id="Input-inputlabel-2" placeholder="Placeholder">
    </div>   
</div>

<div class="input">
    <div class="input-label">
        <label for="Input-inputlabel-1" class="form-label">Input label</label>
    </div>
    <div class="response multi-input select-input text-input">
        <select class="form-select " id="Input-inputlabel-1">
           ...
        </select>
        <input type="text" class="form-control" id="Input-inputlabel-2" placeholder="Placeholder">
    </div>
</div>

<!-- Code & specs example 2 -->
<div class="input">
    <div class="input-label">
        <label for="Input-inputlabel-1" class="form-label">Input label</label>
    </div>
    <div class="response multi-input multi-input-stacked text-input">
        <input type="text" class="form-control" id="Input-inputlabel-1" placeholder="Placeholder">
        <input type="text" class="form-control" id="Input-inputlabel-2" placeholder="Placeholder">
    </div>   
</div>
